:root {
    --primary: #E1FA70;
    --secondary: #000000;
    --hover-unselected: rgb(185, 191, 168);
    --hover-selected: rgb(91, 96, 78);
    --hover-button: rgb(66, 73, 46);
    --seconday-letter: #FCFFF6;
}

* {
    font-family: "Source Sans 3", sans-serif;
}

header {
    display: flex;
}
.header {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    border: 1px var(--secondary) solid;
    border-bottom: 8px var(--secondary) solid;
    color: var(--seconday-letter);
    background-color: var(--secondary);
    /* font-family: "Arvo"; */
}

.header:hover {
    background-color: var(--hover-unselected);
    color: var(--secondary);
}

p {
    margin-top: 5px;
}

h2 {
    margin-bottom: 5px;
}

.selected:hover {
    background-color: var(--hover-unselected);
}

/* .selected {
    color: black;
    background-color: rgb(185, 191, 168);
} */

form {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
}

.questions {
    display: flex;
    justify-content: space-around;
}

.questions-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px;
}

.question {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

label {
    color: var(--secondary);
    margin: 20px 0px 10px 0px;
    font-size: 17px;
    font-weight: bold;
}

input {
    background-color: var(--seconday-letter);
    padding: 15px;
    font-size: 15px;
    color: var(--secondary);
}

option {
    background-color: var(--seconday-letter);
    padding: 15px;
    font-size: 15px;
    color: var(--secondary);
}

select {
    background-color: var(--seconday-letter);
    padding: 15px;
    font-size: 15px;
    color: var(--secondary);
}

button {
    width: 50%;
    padding: 20px;
    align-self: center;
    font-family: "Arvo";
    font-size: 20px;
    background-color: var(--secondary);
    color: var(--seconday-letter);
    margin: 25px 0px;
}

button:hover {
    background-color: var(--hover-button);
}